<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Pen</td>
            <td>$1.00</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Notebook</td>
            <td>$2.50</td>
            <td>5</td>
        </tr>  
        <tr>
            <td>Eraser</td>
            <td>$0.50</td>
            <td>20</td>
        </tr>
    </tbody>
</table>