<div class="page-width">
<table>
    <thead>
        <tr>
            <th>Table Header 1</th>
            <th>Table Header 2</th>
            <th>Table Header 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Table Cell 1</td>
            <td>Table Cell 2</td>
            <td>Table Cell 3</td>
        </tr>
    </tbody>
</table>
</div>



{% schema %}
{
    "name": "Table block section",
    "class": "Table Top ",
    "settings": [
    
    ],
    "presets": [
        {
            "name": "Table block section"
        }
    ]
}
{% endschema %}
